/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  color: #666666;
}

#page {
}

p {
  margin: 0;
  }

a:link, a:visited {
  color: #0397D6;
}

a:hover {
  color: #1B384B;
}

ul {
  margin: 0;
}

h2, h2.title {
  font-size: 1.17em;
  margin-bottom: 0;
  line-height: 1.5em;
}



/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
  background-color: #d7d7d7;
  border-top: 1px solid #c3c3c3;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: ;
  width: 940px;
  margin: 0 auto;
  position: relative;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
  text-indent: -9999px;
  background: transparent url(../images/smefair_header.png) 0 0 no-repeat;
  width: 704px;
  height: 129px;
  display: block;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {

}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title,
h2, 
h3 { /* Comment title */
  text-transform: uppercase;
  font-weight: 400;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  width: 940px;
  margin: 10px auto 0;
  border-top: 1px solid #cccccc !important;
}

#footer #block-block-3 {
  float: right;
  width: 400px;
  text-align: right;
  font-size: .85em;
  padding: 10px 0 0;
}

#footer #block-block-3 #fcoe {
  text-transform: uppercase;
}

#footer #block-block-3 img {
  float: right;
  margin-left: 10px;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}


#content-bottom {
  padding-top: 40px;
}

.col1 {
position: relative;
float: left;
width: 600px;
}

.col1 .event-info {
  font-size: 1.1em;
  line-height: 1.4em;
  padding-right: 30px;
  margin-top: 20px;
}

.col1 .event-date {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 2.5em;
  color: #0397D6;
  text-shadow: 1px 1px #d7d7d7;
}

.col1 .event-location {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 1px 1px #d7d7d7;
}

.col1 .event-address, .col1 .event-building {
  font-size: 1.1em;
  line-height: 1.4em;font-weight: 700;
  
}

.col1 .promo-video {
  margin: 20px 0;
}

.col1 .promo-video p {
  margin-bottom: 20px;
}

.col2 {
float: right;
width: 320px;
/** border-top: 1px solid #cccccc;   **/
}

.col2 h2 {
  margin: .5em 0 .25em;
}

.col2 h2#second {
  margin-top: 20px;
  border-top: 1px solid #cccccc;
}

.col2 dl {
  margin: .5em 0;
}

.col2 dt {
  text-transform: uppercase;
  font-size: .95em;
  font-weight: 700;
}

.col2 dd {
  margin: 0;
  font-size: .80em;
}





article.node-project .field {
  margin: 10px 0;
}

article.node-project .field-label {
  text-transform: uppercase;
  font-size: .85em;
}

article.node-project .field-collection-container .field {
  margin: 0;
}


article.node-project .field-name-field-continuation-project {
  margin-bottom: 0;
}

article.node-project .field-name-field-continuation-project-form {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .80em;
}

a.flag-action {
  background-color: #AB1305;
  color: #ffffff;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
}

a.unflag-action {
  background-color: #ABC466;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  color: #ffffff;
}

table {
  width: 100%;
}
#content table td {
  border-top: 1px solid #EAEBE7 !important;
  border-bottom: 1px solid #F6F6F4;
  text-shadow: 1px 1px #ffffff;
  font-size: 80%;
}
#content table td, #content table th {
  padding: 10px 15px;
  font-size: 80%;
}



#important-dates dl {
  margin: .5em 0;
  padding-bottom: 10px;
  line-height: 1.2em;
  border-bottom: 1px dashed #cccccc;
}

#important-dates dt {
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 700;
}

#important-dates dd {
  margin: 0;
  font-size: .85em;
}



#login {
  width: 100%;
  background-color: #666666;
  border-bottom: 1px solid #979797;
}

#block-user-login.block { 
  font-size: 0.85em;
  height: 25px;
  margin: 0 auto;
  padding: 5px 0;
  position: relative;
  text-align: left;
  width: 940px;
}
#user-login-form {
  position: absolute;
  right: 0;
  width: 500px;
}

#block-user-login label {
  float: left;
  margin-right: 5px;
  color: #cccccc
}

#block-user-login .form-item-name {
  float: left; 
  margin: 0 10px 0 0;
  padding: 0;
}
#block-user-login .form-item-pass {
  float: left; 
  margin: 0 10px 0 0; 
}
#edit-actions.form-actions {
  margin: 0;
  float: right;
}
  
#block-user-login #edit-submit {
  margin: 3px 0 0;
  font-size: .85em;
  width: 50px; 
}
#block-user-login .item-list { 
  display: none;
}

#block-user-login .item-list ul {
  margin: 0;
  padding: 0;
}

/** Show Row Heights - hide **/
a.tabledrag-toggle-weight {
  display: none;
}


/** User Menu **/

.region-login-block {
  width: 960px;
  margin: 0 auto;
}

.region-login-block #block-system-user-menu.block {
  margin: 0;
  float: right;
  font-size: small;
}

.region-login-block ul {
  float: left;
  height: 28px;
  line-height: 24px;
  margin-left: 5px;
  padding: 5px 0 2px;
}

.region-login-block ul.menu li {
  float: left;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

.region-login-block ul.menu li a {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  margin-right: 5px;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
}

.region-login-block ul.menu li a:hover {
  background: #555555 none repeat scroll 0 0;
  padding: 5px;
}

.region-login-block ul.menu li a.active {
  background: #000000 none repeat scroll 0 0;
  padding: 5px;
}

.region-login-block #block-menu-menu-user-menu.block {
  margin: 0;
  float: left;
  font-size: small;
}


/** Project Information Block **/

#block-views-user-project-information-block.block {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}
